body {
    background-color: #f5d0f1;
}
h1 {
    background-color: inherit;
    width: 100%;
    color: black;
    font-family: IMPACT, sans-serif;
    font-size: 20;
    text-align: center;
}
a {
    color: black;
    font-family: 'Playfair Display SC', serif;
    font-size: 10;
    text-align: center;
    width: 50px;

}
p:link {
    color: black;
    font-family: 'Playfair Display SC', serif;
    font-size: 10;
    text-align: center;
}

p:hover {
    font-size: 12;
}
div {
    text-align:center;
}

.displayed {
    width: 420px;
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
div {
width: 50%;
margin: auto;

}
